-# %h1 Brankets
-# = link_to board_path(@board) do
-#   - @tasks.each do |task|
-#     = render 'commons/task', task: task
.container
  .task_name
    = @task.name
  - if @task.eyecatch.attached?
    .eyecatch
      = image_tag @task.eyecatch
  .task_content
    = @task.content

.container
  %h1 Comment
  - @comments.each do |comment|
    = render 'commons/comment', comment: comment

.container
  = link_to new_task_comment_path(@comments) do
    .add_new
      %h2 + Add new comment