= link_to board_path(board) do
  .card
    .card_title
      = board.title
    .card_content
      = board.content
    - if user_signed_in? && current_user.has_written?(board)
      .card_detail
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_board_path(board)
            = link_to '削除する', board_path(board) , data: { method: 'delete', confirm: '本当に削除してもよろしいですか' }
      .card_avatar_image
        = image_tag board.user.avatar_image